# environments
.env
.env.local
.env.development
.env.production
.env.test
.venv/*

# dependencies
node_modules

# python
__pycache__
*.pyc

# docker
*.log

# frontend
*.log
*.log.*

# dev-notes
dev-notes.md